.card {
  background-color: var(--gray-100);
  padding: 1rem;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h3 {
  font: var(--subtitle-sm);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.title h3 > span {
  display: block;
  font: var(--text-sm);
  text-transform: none;
}

.title > span {
  background-color: var(--gray-300);
  font: var(--subtitle-md);

  padding: 0.375rem 0.75rem;
  border-radius: 999px;
}

.slots {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  
  margin-top: 2rem;
}

.slot {
  background-color: var(--gray-200);
  padding: 0.75rem;
  border-radius: 20px;
  min-height: 88px;
  min-width: 88px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot img {
  width: 64px;
  height: 64px;
}

.slot:last-child {
  font-size: 2.5rem;

  & > i {
    opacity: .35;
  }
}